body {
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(251, 121, 121), rgb(255, 153, 173));
}

#number-guess, #result, #history {
    max-width: 400px;
    margin: 0 auto;
}

#history {
    margin-top: 16px;
}
  
.banner {
    color: #FFD23F;
    font-size: 90px;
    font-family: sans-serif;
}

.btn-secondary {
    background-color: violet;
}